<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.TestDao" >
	<!-- 结果集 -->
    <resultMap id="UserResultMap" type="com.blog.domain.User" >
    	<id column="id" property="id"/>
    	<result column="username" property="username"/>
    	<result column="password" property="password"/>
    	<result column="regist_time" property="registDate"/>
    </resultMap>
	
	<!-- 查询 -->
	<select id="getUser" resultMap="UserResultMap" parameterType="java.lang.String">
		select * from user where id = #{id}
	</select>

</mapper>